<div id="contactArea" class="contactArea">
          <div class="box">
            <img src="<%= data.rootPath %>common/images/cmn_contact.png" width="738" height="252" alt="今すぐ相談！まずはお気軽にご相談ください。0120-338-840　受付時間 平日10:00－18:00" />
          </div>
          <!-- box -->
          <a href="<%= data.rootPath %>inquiry" class="btn">
            <img src="<%= data.rootPath %>images/top/top_sec01_btn_contact.png" width="380" height="43" alt="お問合わせはこちら" />
          </a>
          <p class="tel">
            <img src="<%= data.rootPath %>common/images/cmn_contactTel.gif" width="390" height="38" alt="0120-338-840" />
          </p>
          <p class="open">
            <img src="<%= data.rootPath %>common/images/cmn_contactOpen.gif" width="120" height="33" alt="受付時間 10:00-18:00" />
          </p>
        </div>
        <!-- contactArea -->