<div id="contactArea" class="contactArea">
          <div class="box">
            <img src="<%= data.rootPath %>common/images/cmn_contact.png" width="738" height="252" alt="" />
          </div>
          <!-- box -->
          <a href="<%= data.rootPath %>inquiry" class="btn">
            <img src="<%= data.rootPath %>images/top/top_sec01_btn_contact.png" width="380" height="43" alt="" />
          </a>
          <p class="tel">
            <img src="<%= data.rootPath %>common/images/cmn_contactTel.gif" width="390" height="38" alt="" />
          </p>
          <p class="open">
            <img src="<%= data.rootPath %>common/images/cmn_contactOpen.gif" width="120" height="33" alt="" />
          </p>
        </div>
        <!-- contactArea -->
